h1, h2, h3, h4, h5, h6 {
  color: gray;
  font-family: impact;
  font-size: 5rem;
  text-align: center;
}
p {
  color: gray;
  font-family: comic sans ms;
  font-size: 2rem;
  text-align: center;
}
td, tr {
  color: gray;
  font-family: courier new;
  font-size: 1rem;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}
