.generate-report {
  background-color: lightcyan;
}
.generate-report h1{
  color: navy;
  margin: 3rem;
}
.generate-report p{
  text-align: center;
}
.generate-report td, .generate-report th{
  color: darkorange;
  text-align: center;
  font-size: 2rem;
}
.generate-report table{
  margin-left: auto;
  margin-right: auto;
}
