.student-home {
    background-color: lightyellow;
}
.student-home h1 {
    color: brown;
    margin: 10rem;
}
.teacher-home {
    background-color: lightcyan;
}
.teacher-home h1 {
    color: navy;
    margin: 10rem;
}
